@font-face {
    font-family: 'pokemon';
    src: url('../../utils/pokemon.ttf') format('truetype');
  }
.container{
    background: #242630;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
}

.navlink{
    color: #FFF;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    transition: 0.3s, color 0.3s;
    font-size: 1.2rem;
}
.navlink:hover{
    background-color: #FFF;
    color: #242630;
}
.button{
    color: #FFF;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    transition: 0.3s, color 0.3s;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    font-family: 'pokemon';
    letter-spacing: 1px;
}
.button:hover{
    background-color: #FFF;
    color: #242630;
}

/* .active{
    -webkit-text-stroke: 1px black;
    color: rgba(0, 255, 255, 0.6);
    text-underline-offset: 5px;
    text-decoration-color: #282c34; 
}
.disable{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
} */